.header {
    display: flex;
    padding: 0 50px 0 50px;
}

.header img {
    width: auto;
}

.nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    gap: 40px;
}

.principal_recomend {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: end;
    justify-items: center;
    padding: 0 20px 0 20px;
}

.recomend_info_title {
    display: flex;
    justify-content: center;
}

.recomend_img {
    display: flex;
    justify-content: center;
}

.recomend_img img {
    width: 100%;
}

.recomend_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-bottom: 50px;
}

.recomend_info_title img {
    filter: drop-shadow(12px 10px 4px #290000);
    width: 80%;
}

.recomend_info_description {
    text-align: center;
}

.recomend_info_description p {
    padding: 0 10%;
}

.recomend_info_buttons_action {
    display: flex;
    gap: 21px;
}

.recomend_info_buttons_action_leer {
    color: white;
    font-size: 1.4rem;
    background: #1F1E1E;
    width: 140px;
    height: 40px;
    border: none;
}

.recomend_info_buttons_action_guardar {
    color: white;
    font-size: 1.4rem;
    background: #C34747;
    width: 140px;
    height: 40px;
    border: none;
}

.principal_popular {
    background-color: #1F1E1E;
    padding: 20px 100px 0 100px;
}

.principal_popular_content {
    padding-bottom: 50px;
}

.principal_popular_content ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: minmax(160px, auto);
    gap: 50px;
}

.footer_group {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 10em;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    padding: 0px 6em 0 6em;
}

.footer_group_content ul li p {
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .header {
        justify-content: center;
    }

    .principal_recomend {
        grid-template-columns: 1fr;
    }

    .recomend_img {
        margin-top: 0;
    }

    .recomend_img img {
        width: 80%;
    }

    .principal_popular {
        padding: 20px 20px 0 20px;
    }

    .principal_popular_content ul {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }

    .footer_group {
        display: grid;
        gap: 1em;
        flex-direction: row;
        align-content: center;
        justify-content: flex-start;
        padding: 0 30px 0 30px;
    }
}